$dark:#000 !important;
$darker:#222 !important;
$dark-medium:#333 !important;
$dark-low:#666 !important;

$light-low:#999 !important;
$light-medium:#ddd !important;
$lighter:#ddd !important;
$light:#fff !important;

$feature: #7deb24 !important;
$feature-dark: #43880a !important;

:root {
  --dark: #{$dark};
  --darker: #{$darker};
  --dark-medium: #{$dark-medium};
  --dark-low: #{$dark-low};
  --light-low: #{$light-low};
  --light-medium: #{$light-medium};
  --lighter: #{$lighter};
  --light: #{$light};
  --feature: #{$feature};
  --feature-dark: #{$feature-dark};
}
