$dark:#000;
$darker:#222;
$dark-medium:#333;
$dark-low:#666;

$light-low:#999;
$light-medium:#ddd;
$lighter:#ddd;
$light:#fff;

$feature: #7deb24;
$feature-dark: #43880a;

:root {
  --dark: #{$dark};
  --darker: #{$darker};
  --dark-medium: #{$dark-medium};
  --dark-low: #{$dark-low};
  --light-low: #{$light-low};
  --light-medium: #{$light-medium};
  --lighter: #{$lighter};
  --light: #{$light};
  --feature: #{$feature};
  --feature-dark: #{$feature-dark};
}
